* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'inconsolata', Helvetica;
	background-color: $near-white;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

.container {
	padding: 1em;
	position: relative;
	height: 90%;
}

.main-header {
	height: 6em;
	padding: 0 12%;
	.headline {
		display: inline-block;
		// width: 30%;
		float: left;
	}

	.select {
		margin-top: 2em;
		margin-right: 7.5em;
		font-size: 1em;
		border-radius: 4px;
		background-color: $charcoal;
		color: $near-white;
		display: inline-block;
		float: right;
	}
	.mode {
		margin-right: 7.5em;
		display: inline-block;
		float: right;
		margin-top: 2em;
	}

}

.make-editor,
.is-editor {
	font-size: 0.8em;
	margin-left: 1.3em;
}

.make-editor{
	text-decoration: underline;
}

.make-editor:hover{
	cursor: pointer;
}

ui-codemirror {
	height: 90%;
	width: 68%;
	display: inline-block;
	.cms-default {
		width: 100%;
	}
}

.other-info {
	width: 28%;
	height: 80%;
	float: right;
	margin-right: 2em;
	.message-form{
		margin-bottom: 0.5em;
	}
	.messages-headline {
		display: inline-block;
		margin-right: 10px;
		border-top: solid 1px $charcoal;
	}
	.new-message {
		display: inline-block;
		margin-right: 10px;
	}
	.message-button{
		background-color: $charcoal;
		color: $near-white;
	}
	.messages {
		height: 13.85em;
		overflow-y: scroll;
		word-wrap: break-word;	
	}
	.message.ng-enter {
		transition: all 0.25s linear;
		opacity: 0;
	}
	.message.ng-enter.ng-enter-active {
		opacity: 1;
	}
}

.ng-dialog {
	position: absolute;
	background-color: $dope-pink;
	outline-style: double;
	outline-color: $charcoal;
	padding: 1em;
	top: 20%;
	left: 35%;
	z-index: 9999;
}

