* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'inconsolata', Helvetica;
	background-color: $near-white;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

.container {
	padding: 1em;
	position: relative;
	height: 90%;
}

.main-header {
	height: 6em;
	padding: 0 15%;
	.headline {
		display: inline-block;
		width: 30%;
		float: left;
	}
	.new-collab,
	.switch,
	.select {
		margin-top: 1.5em;
		margin-right: 0.5em;
		font-size: 1em;
		border-radius: 4px;
		background-color: $charcoal;
		color: $near-white;
		display: block;
		float: right;
	}

	.select {
		margin-top: 1.7em;
	}

	.select:focus,
	.new-collab:focus,
	.switch:focus {
		outline-style: double;
		outline-color: $dope-pink;
	}
}

ui-codemirror {
	height: 90%;
	width: 68%;
	display: inline-block;
	.cms-default {
		width: 100%;
	}
}

.other-info {
	border: solid 1px $charcoal;
	width: 28%;
	height: 80%;
	float: right;
	margin-right: 2em;
	.messages {
		border: solid 1px $charcoal;
	}	
}

.ng-dialog {
	position: absolute;
	background-color: $dope-pink;
	outline-style: double;
	outline-color: $charcoal;
	padding: 1em;
	top: 20%;
	left: 35%;
	z-index: 9999;
}

